<!--<body class="  pace-done"><div class="pace  pace-inactive">-->
<!--  <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">-->
<!--    <div class="pace-progress-inner"></div>-->
<!--  </div>-->
<!--  <div class="pace-activity">-->
<!--    <div class="loading-page style2">-->
<!--      <div class="loading-page-wrapper">-->
<!--        <div class="container">-->
<!--          <h1 class="logo block">-->
<!--            <a title="Travelo" href="#">-->
<!--              <img alt="" src="./src/assets/Img/Airplane.png">-->
<!--            </a>-->
<!--          </h1>-->
<!--          <div class="loading-text block">Website is Loading...</div>-->
<!--          <div class="notice-message block">please<br>be patient!</div>-->
<!--          <br>-->
<!--          <div class="loading-progress-bar block col-sms-10 col-sm-8 col-md-6">-->
<!--            <div class="loading-progress" style="width: 100%;">-->

<!--            </div>-->

<!--            <div class="loading-percent">100%</div>-->
<!--            <div class="btn align-content-center">-->
<!--            <button type="submit" [routerLink]="['/home']">Go</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<div class="slide" id="slide" alt="banner-img" style="background-image: url('./src/assets/Img/Untitledba.png');height: 900px; width: 1500px">
  <div class="middle-header" id="desktop-header" style="top: 0px;">
      <div class="container">
        <div class="header-data">
          <h1>
            <span> WELCOME TO SRI LANKA</span>
          </h1>
          <form [formGroup]="myForm">
            <div>
              <div class="form-group">
                <label for="UserName">UserName</label>
                <input type="text" id="UserName" class="form-control" formControlName="UserName">
              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" id="Password" class="form-control" formControlName="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" [routerLink]="['/home']">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>


