<!-- Footer -->
<div class="footer">
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
        <ul>
    <div>
        <img src='./assets/Icons/room-24px.svg' alt="location">
        <p>University Of Moratuwa</p>
    </div>
          <div>
            <img src="./assets/Icons/call-24px.svg" alt="call">
            <p>+94715394879</p>
          </div>
          <div>
            <img src="./assets/Icons/email-24px.svg" alt="email">
            <p>mihirangakalindu@gmail.com</p>
          </div>


        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold"> Mission</h5>
        <p>Helping people and companies travel smart and achieve more.</p>
        <h5 class="text-uppercase font-weight-bold">Vision</h5>
        <p>Be the world’s most trusted and innovative travel management website.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">

    <img src="assets/Img/header-facebook.png" alt="facebook">
    <img src="assets/Img/header-instagram.png" alt="instagram">
    <img src="assets/Img/header-youtube.png" alt="facebook">
    <img src="assets/Img/header-twitter.png" alt="twitter">
    <img src="assets/Img/header-flickr.png" alt="flicker"><hr/>
    © 2019 Copyright: Own Creations
    <a href="#"><span>Kalindu Mihiranga </span></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
